<template>
  <div id="app">
    <router-view :key="componentKey"></router-view>
  </div>
</template>

<script>
export default {
  computed: {
    componentKey() {
      return this.$store.state.componentKey;
    },
  },
};
</script>
