@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marck+Script&display=swap');
:root{
	font-size: 16px;
}

::-webkit-scrollbar{
    display: none;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
    background-color: transparent;
    position: absolute;
    width: 100%;
}
.navbar .navbar-nav li a{
    margin-left: 2rem;
    font-size: 25px;
    color: #ffffff; 
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ffff;
}
.navbar  ul li a {
  position:relative;
  z-index: 1;
}
.navbar  ul li a:hover {
  color: #ffff;
}
.navbar ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #183141;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
}
.navbar ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.login form{
    padding-top: 5px;
    width: 381px;
    height: 267px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;

    color: #ffffff;
}


.login form input select{
    background: transparent;
  	border: none;
    font-size: 20px;
  	border-bottom: 1px solid #ffff;
  	width: 336.41px;
    margin-left: 23px;
    color: #ffffff;
}

.login form .label{
    padding-top: 27px;
}
.login form label{
    padding-left: 23px;
    padding-top: 27px;
}
.login form .btn{
    width: 250px;
    margin-top: 15px;
    margin-left: 4rem;
    font-family: Playfair Display;
    font-size: 20px;
}
.login{
    background-color: #12232E;
    height: 100vh;
}
.login .container-fluid img{
    padding-top: 80px;
    padding-bottom: 1rem;
}

.login .box{
    margin-top: 20px;
    margin-left: 492px;
}

.sign-in form{
    width: 100%;
    height: 267px;
}
.sign-in form input{
  	border: none;
    font-size: 14px;
  	border: 1px solid #12232E;
  	width: 336.41px;
    height: 40px;
    margin-left: 23px;
    color: black;
}
.sign-in h1{
    font-family: Playfair Display;
    color: #ffffff;
    font-size: 25px;
    padding-top: 0.5rem;
}
.sign-in button{
    width: 150px;
    font-family: Playfair Display;
    font-size: 20px;
}

.sign-in label{
    margin-top: -30px;
    font-weight: 100;
    color: black;
}
.sign-in #names{
    margin-top: -7px;
    height: 40px;
    width: 150px;
}
.home{
    background-image: url("/images/bg-first.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 105vh;
    width: 100%;
    color: #FFFFFF;
}

.home p{
    padding-top: 257px;

    width: 601px;
    height: 136px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

.home .btn{
    margin-left: 12px;
    width: 228px;
    font-family: 'Playfair Display';
    font-size: 25px;
}

.services h1{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 50px;
    font-family: Playfair Display;
    font-size: 56px;
}

.card{
    width: 332px;
    height: 411px;
    background: #FFFFFF;
    border: 1px solid rgba(18, 35, 46, 0.4);
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 3rem;
}
.card img{
    width: 120px;
    height: 120px;
    margin-top: 1rem;
}
.services .amazing-container{
    padding-top: 5rem;
    padding-left: 5rem;
}

.card{
    text-align: center;
}
.card h4{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #12232E;
}

.card p{
    line-height: 24px;
    font-family: Lato;
    font-size: 20px;
}

.card .p3{
    font-size: 18px;
    line-height: 22px;
}
.card .btn{
    width: 163px;
    font-family: Lato;
}

.team{
    margin-top: 168px;
    background-color: #12232E;
    width: 100%;
    color: #ffffff;
    padding-bottom: 70px;
}
.team h1{
    padding-top: 54px;
    font-family: Playfair Display;
    font-size: 56px;
    line-height: 45px;
    color: #FFFFFF;
}
.team p{
    font-family: Marck Script;
    margin-top: 20px;
    font-size: 25px;
    line-height: 33px;
}

.last{
    background-image: url("/images/bg-last.png");;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 105vh;
    width: 100%;
    color: #ffffff;
}

.last p{
    width: 727px;
    height: 216px;
    padding-top: 173px;
    margin-left: 616px;
    
    font-family: Playfair Display;
    font-size: 27px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.last .btn-register{
    width: 156px;
}

.registerForm{
    width: 500px;
}

.modal-body{
    height: 400px;
    color: #12232E;
}

.modal-body input{
	width: 380px;
	height: 50px;
	font-size: 18px;
    margin-top: -40px;
    padding-left: 10px;
	font-family: Lato;
    border-bottom: 1px solid #12232E;
    margin-bottom: 15px;
  
    color: #12232E;
}

.modal-body .lbl-day{
    width: 60px;
}

.modal-body .lbl-year{
    width: 70px;
}


.modal-body .c_month{
    width: 80px;
    height: 50px;
    margin-left: 10px;
    font-size: 18px;
    color: #12232E;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-body label{
    font-size: 18px;
}

.modal-body .c_dropdown{
    width: 170px;
    margin-left: 10px;
    font-size: 18px;
    color: #12232E;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-footer .btn-registers{
    margin-top: 15px;
    margin-right: -5px;
    width: 130px;
}
.modal-footer .btn-cancel{
    margin-top: 15px;
    margin-left: 50px;
	width: 130px;
}


.modal-bodys{
    color: #12232E;
}

.modal-bodys .lbl_fname{
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.modal-bodys .lbl_pass{
    margin-top: -20px;
    margin-right: -5px;
    padding-left: 50px;
}

.modal-bodys .inputfname{
    margin-top: -10px;
    margin-left: 30px;
    height: 30px;
    font-size:20px;
    width: 120px;
}

.modal-footers .btn-registerss{
    margin-top: 15px;
    width: 130px;
    margin-left: 10px;
}
.modal-footers .btn-cancels{
    margin-left: 80px;
    margin-top: 15px;
	width: 130px;
}


footer{
    width: 100%;
    height: 340px;
    background: #12232E;
    color: #FFFFFF;
    padding-bottom: 56px;
}

footer h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 41px;
}

footer .amazing-container{
    padding-left: 21px;
}

footer .intro,
footer .title{
    font-family: Playfair Display;
    font-size: 23px;
    line-height: 31px;
}

footer .title{
    padding-left: 27px;
}

footer img{
    margin-left: 27px;
}