@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;400&display=swap');
:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.navbar .navbar-nav li a {
    margin-left: 2rem;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #ffff;
}

.navbar ul li a {
    position: relative;
    z-index: 1;
}

.navbar ul li a:hover {
    color: #ffff;
}

.navbar ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #183141;
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
}

.navbar ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.login form {
    padding-top: 5px;
    width: 381px;
    height: 267px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
}

.login form input {
    background: transparent;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #ffff;
    width: 336.41px;
    margin-left: 23px;
    color: #ffffff;
}

.login form .label {
    padding-top: 27px;
}

.login form label {
    padding-left: 23px;
    padding-top: 27px;
}

.login form .btn {
    width: 250px;
    margin-top: 15px;
    margin-left: 4rem;
    font-family: Playfair Display;
    font-size: 20px;
}

.login {
    background-color: #12232E;
    height: 100vh;
}

.login .container-fluid img {
    padding-top: 80px;
    padding-bottom: 1rem;
}

.login .box {
    margin-top: 20px;
    margin-left: 492px;
}

.sign-in form {
    width: 100%;
    height: 267px;
}

.sign-in form input {
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 336.41px;
    height: 40px;
    margin-left: 23px;
    color: black;
}

.sign-in form select{
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 543px;
    height: 40px;
    margin-left: 23px;
    color: black;
    
}

.sign-in h1 {
    font-family: Playfair Display;
    color: #ffffff;
    font-size: 25px;
    padding-top: 0.5rem;
}

.sign-in button {
    width: 150px;
    font-family: Playfair Display;
    font-size: 20px;
}

.sign-in label {
    margin-top: -30px;
    font-weight: 100;
    color: black;
}

.sign-in #names {
    margin-top: -7px;
    height: 40px;
    width: 150px;
}

.home {
    background-image: url("/images/bg-first.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 105vh;
    width: 100%;
    color: #FFFFFF;
}

.home p {
    padding-top: 257px;
    width: 601px;
    height: 136px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

.home .btn {
    margin-left: 12px;
    width: 228px;
    font-family: 'Playfair Display';
    font-size: 25px;
}

.services h1 {
    text-align: center;
    padding-top: 54px;
    padding-bottom: 50px;
    font-family: Playfair Display;
    font-size: 56px;
}

.services .card {
    width: 332px;
    height: 411px;
    background: #FFFFFF;
    border: 1px solid rgba(18, 35, 46, 0.4);
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 3rem;
}

.services .card img {
    width: 120px;
    height: 120px;
    margin-top: 1rem;
}

.services .amazing-container {
    padding-top: 5rem;
    padding-left: 5rem;
}

.services .card {
    text-align: center;
}

.services .card h4 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #12232E;
}

.services .card p {
    line-height: 24px;
    font-family: Lato;
    font-size: 20px;
}

.services .card .p3 {
    font-size: 18px;
    line-height: 22px;
}

.services .card .btn {
    width: 163px;
    font-family: Lato;
}

.team {
    margin-top: 168px;
    font-family: 'Playfair Display';
    background-color: #12232E;
    width: 100%;
    color: #ffffff;
    padding-bottom: 70px;
}

.team h1 {
    padding-top: 54px;
    font-family: 'Playfair Display';
    font-size: 56px;
    line-height: 45px;
    color: #FFFFFF;
}

.team p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    font-size: 25px;
    line-height: 33px;
}

.last {
    background-image: url("/images/bg-last.png");
    ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 105vh;
    width: 100%;
    color: #ffffff;
}

.last p {
    width: 727px;
    height: 216px;
    padding-top: 173px;
    margin-left: 616px;
    font-family: Playfair Display;
    font-size: 27px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.last .btn-register {
    width: 156px;
}

/* #modal-schedule form input {
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 336.41px;
    height: 40px;
    color: black;
} */

/* #modal-schedule form select{
    border: none;
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin-left: 23px;
    color: black;
    
} */


.last #modal-schedule h1 {
    font-family: Playfair Display;
    color: #ffffff;
    font-size: 25px;
    padding-top: 0.5rem;
}

.last #modal-schedule button {
    width: 150px;
    font-family: Playfair Display;
    font-size: 20px;
}

.last #modal-schedule label {
    margin-top: -30px;
    font-weight: 100;
    color: black;
}

.last #modal-schedule #names {
    margin-top: -7px;
    height: 40px;
    width: 150px;
}

.registerForm {
    width: 500px;
}

/* .modal-body {
    height: 500px;
    color: #12232E;
} */

.modal-body input {
    width: 380px;
    height: 50px;
    font-size: 18px;
    margin-top: -40px;
    padding-left: 10px;
    font-family: Lato;
    border-bottom: 1px solid #12232E;
    margin-bottom: 15px;
    color: #12232E;
}

.modal-body .lbl-day {
    width: 60px;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-body .lbl-year {
    width: 65px;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-body .c_month {
    width: 80px;
    height: 50px;
    margin-left: 10px;
    font-size: 18px;
    color: #12232E;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-body label {
    font-size: 18px;
}

.modal-body .c_dropdown {
    width: 170px;
    margin-left: 10px;
    font-size: 18px;
    color: #12232E;
    border: none;
    border-bottom: 1px solid #12232E;
}

.modal-footer .btn-registers {
    margin-top: 15px;
    margin-right: -5px;
    width: 130px;
}

.modal-footer .btn-cancel {
    margin-top: 15px;
    margin-left: 50px;
    width: 130px;
}

.modal-bodys {
    color: #12232E;
}

.modal-bodys .lbl_fname {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.modal-bodys .lbl_pass {
    margin-top: -20px;
    margin-right: -5px;
    padding-left: 50px;
}

.modal-bodys .inputfname {
    margin-top: -10px;
    margin-left: 30px;
    height: 30px;
    font-size: 20px;
    width: 120px;
}

.modal-footers .btn-registerss {
    margin-top: 15px;
    width: 130px;
    margin-left: 10px;
}

.modal-footers .btn-cancels {
    margin-left: 80px;
    margin-top: 15px;
    width: 130px;
}

footer {
    width: 100%;
    height: 340px;
    background: #12232E;
    color: #FFFFFF;
    padding-bottom: 56px;
}

footer h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 41px;
}

footer .amazing-container {
    padding-left: 21px;
}

footer .intro, footer .title {
    font-family: Playfair Display;
    font-size: 23px;
    line-height: 31px;
}

footer .title {
    padding-left: 27px;
}

footer img {
    margin-left: 27px;
}



/* ADMIN */

a:hover {
    text-decoration: none;
}

.side-nav {
    height: 100%;
    width: 295px;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #12232E;
    overflow-x: hidden;
    box-shadow: 8px 0 8px -6px rgba(44, 50, 56, 0.8), -5px 0 8px -6px rgba(31, 73, 125, 0.8);
    transition: all 400ms;
}

.logo-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    font-weight: 75;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 20px;
}

.side-nav .logo-name:hover {
    cursor: default;
}

.logo {
    margin-top: 30px;
}

hr.divider {
    border-top: 1.5px solid;
    width: 237.55px;
    color: #D3CCCC;
}

hr.vertical-divider {
    border-left: 2px solid;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 0;
    line-height: 10px;
    height: 33px;
    width: 0;
    color: #D3CCCC;
}

.side-nav a {
    font-size: 85px !important;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 280;
    color: #ffff;
    display: block;

}

/* .side-nav .option:hover {
  color: #020000;
  transition: all 250ms;
} */

.element:hover {
    filter: invert(35%);
    transition: all 250ms;
}

.option {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.element-container {
    width: 100%;
    height: 55px;
    position: relative;
}

.element {
    position: absolute;
    margin-top: 2px
}

a.router-link-exact-active {
    position: relative;
    height: 55px;
    background-color: rgba(31, 143, 158, 0.7);
}

.top-nav {
    width: calc(100% - 295px);
    padding-left: 270px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(7, 0, 0, 0.2);
    height: 4.4rem;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-top: 6px;
    display: inline-block;

}

.link-logout {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-decoration: none;
    color: #847D7D;
}

.main-content {
    margin-left: 290px;
    padding: 0px 10px;
    margin-top: 6rem;
}

.custom-form {
    color: #000000;
    display: block;
    width: 24rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

}

.invert {
    transform: scaleX(-1);
}

.custom-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 7px;
}

thead {
    background-color: #6666ff;
    color: #FFFFFF;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 16px;

}

td {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    line-height: 3rem;
}

.add-package{
    width: 300px;
	height: 53px;
	border-radius: 10px;
	cursor: pointer; 
    font-family: 'Lato';
    font-weight: bold;
    
    color: #ffff;
	background: #12232E;
}

.packages form {
    width: 100%;
    height: 60px;
}

.packages form input {
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 336.41px;
    height: 40px;
    margin-left: 23px;
    color: black;
}

.packages form select{
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 543px;
    height: 40px;
    margin-left: 23px;
    color: black;
    
}

.packages h1 {
    font-family: Playfair Display;
    color: #ffffff;
    font-size: 25px;
    padding-top: 0.5rem;
}

.packages button {
    width: 150px;
    font-family: Playfair Display;
    font-size: 20px;
}

.packages label {
    margin-top: -30px;
    font-weight: 100;
    color: black;
}

.packages #names {
    margin-top: -7px;
    height: 40px;
    width: 150px;
}


@media only screen and (max-width: 768px) {
    html {
        font-size: .9rem;
    }

    .side-nav {
        width: 90px;
    }

    .main-content {
        margin-left: 120px;
    }

    .active {
        height: 50px;
    }


    .custom-btn {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 0px !important;
        text-align: center;
        width: 44px;
        line-height: -2.5rem;
    }

    .option {
        display: none;
    }

    .logo-name {
        display: none;
    }

    .JRI {
        margin-left: -15px;
    }

    .top-nav {
        width: calc(100% - 90px);
    }

    .nav-container {
        margin-left: 125px;
    }
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.main-content .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: auto;
    margin-right: 10px;
    margin-left: 30px;
    padding: 1rem;
  }


  
  /* On mouse-over, add a deeper shadow */
  .main-content .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .main-content .container {
    padding: 2px 16px;
  }