@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marck+Script&display=swap');

html {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.side-nav {
    height: 100%;
    width: 295px;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: #12232E;
    overflow-x: hidden;
    box-shadow: 8px 0 8px -6px rgba(44, 50, 56, 0.8), -5px 0 8px -6px rgba(31, 73, 125, 0.8);
    transition: all 400ms;
}

.logo-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    font-weight: 75;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 20px;
}

.side-nav .logo-name:hover {
    cursor: default;
}

.logo {
    margin-top: 30px;
}

hr.divider {
    border-top: 1.5px solid;
    width: 237.55px;
    color: #D3CCCC;
}

hr.vertical-divider {
    border-left: 2px solid;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 0;
    line-height: 10px;
    height: 33px;
    width: 0;
    color: #D3CCCC;
}

.side-nav a {
    font-size: 85px !important;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 280;
    color: #ffff;
    display: block;

}

/* .side-nav .option:hover {
  color: #020000;
  transition: all 250ms;
} */

.element:hover {
    filter: invert(35%);
    transition: all 250ms;
}

.option {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.element-container {
    width: 100%;
    height: 55px;
    position: relative;
}

.element {
    position: absolute;
    margin-top: 2px
}

a.router-link-exact-active {
    position: relative;
    height: 55px;
    background-color: rgba(31, 143, 158, 0.7);
}

.top-nav {
    width: calc(100% - 295px);
    padding-left: 270px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(7, 0, 0, 0.2);
    height: 4.4rem;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    padding-right: 1rem;
    padding-top: 6px;
    display: inline-block;

}

.link-logout {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    text-decoration: none;
    color: #847D7D;
}

.main-content {
    margin-left: 290px;
    padding: 0px 10px;
    margin-top: 6rem;
}

.custom-form {
    color: #000000;
    display: block;
    width: 24rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

}

.invert {
    transform: scaleX(-1);
}

.custom-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 7px;
}

thead {
    background-color: #6666ff;
    color: #FFFFFF;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 16px;

}

td {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    line-height: 3rem;
}

.add-package{
    width: 300px;
	height: 53px;
	border-radius: 10px;
	cursor: pointer; 
    font-family: 'Lato';
    font-weight: bold;
    
    color: #ffff;
	background: #12232E;
}

.packages form {
    width: 100%;
    height: 60px;
}

.packages form input {
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 336.41px;
    height: 40px;
    margin-left: 23px;
    color: black;
}

.packages form select{
    border: none;
    font-size: 14px;
    border: 1px solid #12232E;
    width: 543px;
    height: 40px;
    margin-left: 23px;
    color: black;
    
}

.packages h1 {
    font-family: Playfair Display;
    color: #ffffff;
    font-size: 25px;
    padding-top: 0.5rem;
}

.packages button {
    width: 150px;
    font-family: Playfair Display;
    font-size: 20px;
}

.packages label {
    margin-top: -30px;
    font-weight: 100;
    color: black;
}

.packages #names {
    margin-top: -7px;
    height: 40px;
    width: 150px;
}


@media only screen and (max-width: 768px) {
    html {
        font-size: .9rem;
    }

    .side-nav {
        width: 90px;
    }

    .main-content {
        margin-left: 120px;
    }

    .active {
        height: 50px;
    }


    .custom-btn {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 0px !important;
        text-align: center;
        width: 44px;
        line-height: -2.5rem;
    }

    .option {
        display: none;
    }

    .logo-name {
        display: none;
    }

    .JRI {
        margin-left: -15px;
    }

    .top-nav {
        width: calc(100% - 90px);
    }

    .nav-container {
        margin-left: 125px;
    }
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.main-content .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: auto;
    margin-right: 10px;
    margin-left: 30px;
    padding: 1rem;
  }


  
  /* On mouse-over, add a deeper shadow */
  .main-content .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .main-content .container {
    padding: 2px 16px;
  }