<template>
  <div
    style="
      background-color: #12232e;
      width: 100%;
      height: 800px;
      color: #ffffff;
    "
  >
    <reqNav />
    <div class="packages" style="padding: 0px 10px; padding-top: 7rem">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10">
            <h2 class="ml-2 font-weight-bold">Orders</h2>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-light btn-lg add-package"
              data-bs-toggle="modal"
              data-bs-target="#modal-schedule"
            >
              Set Schedule
            </button>
          </div>

          <div
            class="modal fade"
            id="modal-schedule"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            style="color: #12232e"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Schedule Request
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body" style="height: 425px">
                  <form>
                    <div class="row">
                      <div class="col-lg">
                        <label class="form-label">Message:</label>
                        <textarea
                          style="height: 100px"
                          type="text"
                          class="form-control"
                          v-model="schedule.message"
                        />
                      </div>
                    </div>

                    <div class="row" style="margin-top: 10px">
                      <div class="col-lg-auto">
                        <label class="form-label" style="margin-top: 10px"
                          >Month:</label
                        >
                        <select
                          class="c_month"
                          v-model="c_month"
                          placeholder="Date of Event"
                        >
                          <option
                            v-for="months in month"
                            :key="months.name"
                            :value="months.name"
                          >
                            {{ months.name }}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-auto">
                        <label class="form-label" style="margin-top: 10px"
                          >Day:</label
                        >
                        <input type="number" v-model="c_day" class="lbl-day" />
                      </div>
                      <div class="col-lg-auto">
                        <label class="form-label" style="margin-top: 10px"
                          >Year:</label
                        >
                        <input
                          type="number"
                          v-model="c_year"
                          class="lbl-year"
                        />
                      </div>
                    </div>

                    <div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label">Packages:</label>
                          <select
                            class="form-select"
                            v-model="schedule.package_id"
                            style="
                              width: 90%;
                              border: 1px solid #ced4da;
                              border-radius: 0.25rem;
                            "
                          >
                            <option
                              v-for="packages in packagess"
                              :key="packages.package_id"
                              :value="[packages.package_id, packages.price]"
                            >
                              {{ packages.description }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <label class="form-label" style="margin-top: 10px"
                          >Amount:</label
                        >
                        <input
                          style="
                            margin-top: 8px;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem;
                          "
                          type="text"
                          readonly
                          class="form-control-plaintext"
                          v-model="schedule.package_id[1]"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    @click="createSchedule()"
                  >
                    Set Schedule
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive pt-3">
          <div style="overflow-x: auto"></div>
          <div class="row justify-content-end"></div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Package</th>
                <th>Date</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="order in filteredOrders"
                :key="order.order_id"
                style="background-color: #ffffff"
              >
                <td>{{ order.description }}</td>
                <td>{{ order.date_sched }}</td>
                <td>₱{{ order.price }}.00</td>
                <td>{{ order.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      month: [
        { name: "January" },
        { name: "Febuary" },
        { name: "March" },
        { name: "April" },
        { name: "May" },
        { name: "June" },
        { name: "July" },
        { name: "August" },
        { name: "September" },
        { name: "October" },
        { name: "November" },
        { name: "December" },
      ],

      c_day: "",
      c_month: "",
      c_year: "",
      client_id: this.$store.state.users.id,
      status: "Pending",
      componentKey: this.$store.state.componentKey,

      schedule: {
        package_id: "",
        message: "",
        date_sched: "",
      },
    };
  },

  computed: {
    ...mapGetters({
      orders: "getOrders",
      packagess: "getPackages",
    }),

    filteredOrders() {
      return this.orders.filter((order) => {
        return order.client_id.toString().match(this.client_id);
      });
    },
  },

  methods: {
    capitalize(str) {
      const lower = str.toLowerCase();
      return str.charAt(0).toUpperCase() + lower.slice(1);
    },

    async createSchedule() {
      var date = this.c_month + " " + this.c_day + ", " + this.c_year;
      var data = {
        client_id: this.client_id,
        package_id: this.schedule.package_id[0],
        message: this.capitalize(this.schedule.message),
        date_sched: date,
        status: this.status,
      };
      if (
        this.schedule.package_id == "" ||
        this.schedule.message == "" ||
        this.c_year == "" ||
        this.c_day == "" ||
        this.c_month == ""
      ) {
        this.$toast.error("Please fill in all fields!");
      } else {
        const res = await this.$store.dispatch("createSchedules", data);
        if (res.status == 401) {
          this.$toast.error("Something went wrong.");
        } else if (res.status == 201) {
          this.componentKey += 1;
          setTimeout(() => {
            this.$store.commit("setComponentKey", this.componentKey);
          }, 500);
          this.$toast.success("Scheduled successfuly!");
          this.clear();
          $("#modal-schedule").modal("hide");
        }
      }
    },

    clear() {
      (this.schedule.message = ""),
        (this.schedule.package_id = ""),
        (this.c_year = ""),
        (this.c_month = ""),
        (this.c_day = "");
    },
  },

  mounted() {
      document.title = "YSProduction | Orders"
    this.$store.dispatch("fetchOrders");
    this.$store.dispatch("fetchPackages");
  },
};
</script>