<template>
  <div id="app">
    <sidenav />
    <topnav />
    <div class="main-content">
      <h1>Teams</h1>
      <div class="row">
        <div class="card">
          <img
            src="/images/logo.png"
            class="avatarlogo"
            alt="Avatar"
            style="width: 50%"
          />
          <div class="container">
            <h4><b>Team Name</b></h4>
            <p>Team Leader: Leader</p>
            <button type="button" class="btn btn-primary">
              View Full Team
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="/images/logo.png"
            class="avatarlogo"
            alt="Avatar"
            style="width: 50%"
          />
          <div class="container">
            <h4><b>Team Name</b></h4>
            <p>Team Leader: Leader</p>
            <button type="button" class="btn btn-primary">
              View Full Team
            </button>
          </div>
        </div>
        <div class="card">
          <img
            src="/images/logo.png"
            class="avatarlogo"
            alt="Avatar"
            style="width: 50%"
          />
          <div class="container">
            <h4><b>Team Name</b></h4>
            <p>Team Leader: Leader</p>
            <button type="button" class="btn btn-primary">
              View Full Team
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted: function () {
    document.title = "YS Production | Scheduled Events";
  },
  data() {
    return {};
  },
};
</script>



