<template>
  <div id="app">
    <sidenav />
    <topnav />
    <div
      class="packages"
      style="margin-left: 290px; padding: 0px 10px; margin-top: 6rem"
    >
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10">
            <h2 class="ml-2 font-weight-bold">Packages</h2>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-primary btn-lg add-package"
              data-bs-toggle="modal"
              data-bs-target="#modal-packages"
            >
              Add Package
            </button>

            <div
              class="modal fade"
              id="modal-packages"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" style="max-width: 42%">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Packages</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body" style="height: 380px; color: #12232e">
                    <form>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label">Description:</label>
                          <textarea
                            style="text-transform: capitalize; height: 100px"
                            type="text"
                            class="form-control"
                            v-model="packages.description"
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label" style="margin-top: 30px"
                            >Price:</label
                          >
                          <div class="input-group">
                            <span
                              class="input-group-text"
                              style="height: 40px; margin-top: 7px"
                              >₱</span
                            >
                            <input
                              type="number"
                              class="form-control"
                              style="width: 500px; margin-top: 7px"
                              v-model="packages.price"
                            />
                            <span
                              class="input-group-text"
                              style="height: 40px; margin-top: 7px"
                              >.00</span
                            >
                          </div>
                        </div>
                      </div>

                      <div>
                        <div class="row">
                          <div class="col-lg">
                            <label class="form-label">Service:</label>
                            <select
                              class="form-select"
                              v-model="packages.service_id"
                            >
                              <option
                                v-for="service in services"
                                :key="service.service_id"
                                :value="service.service_id"
                              >
                                {{ service.service_description }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="createPackages()"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive pt-3">
          <div style="overflow-x: auto"></div>
          <div class="row justify-content-end"></div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Package</th>
                <th>Service</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="packages in packagess" :key="packages.package_id">
                <td>{{ packages.description }}</td>
                <td>{{ packages.service_description }}</td>
                <td>₱{{ packages.price }}.00</td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-success btn-sm"
                    style="width: 100px; font-size: 12pt"
                    @click="editPackage(packages)"
                  >
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="modal fade"
          id="modal-update-packages"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" style="max-width: 42%">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Packages</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body" style="height: 380px; color: #12232e">
                <form>
                  <div class="row">
                    <div class="col-lg">
                      <label class="form-label">Description:</label>
                      <textarea
                        style="text-transform: capitalize; height: 100px"
                        type="text"
                        class="form-control"
                        v-model="packages.description"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg">
                      <label class="form-label" style="margin-top: 30px"
                        >Price:</label
                      >
                      <div class="input-group">
                        <span
                          class="input-group-text"
                          style="height: 40px; margin-top: 7px"
                          >₱</span
                        >
                        <input
                          type="number"
                          class="form-control"
                          style="width: 500px; margin-top: 7px"
                          v-model="packages.price"
                        />
                        <span
                          class="input-group-text"
                          style="height: 40px; margin-top: 7px"
                          >.00</span
                        >
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="row">
                      <div class="col-lg">
                        <label class="form-label">Service:</label>
                        <select
                          class="form-select"
                          v-model="packages.service_id"
                        >
                          <option
                            v-for="service in services"
                            :key="service.service_id"
                            :value="service.service_id"
                          >
                            {{ service.service_description }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  @click="updatePackages()"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      packages: {
        package_id: "",
        description: "",
        price: 0,
        service_id: "",
      },

      componentKey: this.$store.state.componentKey,
    };
  },

  methods: {
    capitalize(str) {
      const lower = str.toLowerCase();
      return str.charAt(0).toUpperCase() + lower.slice(1);
    },

    async createPackages() {
      var data = {
        service_id: this.packages.service_id,
        description: this.capitalize(this.packages.description),
        price: parseInt(this.packages.price),
      };

      if (
        this.packages.description == "" ||
        this.packages.price == "" ||
        this.packages.service_id == ""
      ) {
        this.$toast.error("Please fill in all fields");
      } else {
        const res = await this.$store.dispatch("createPackage", data);
        if (res.status == 401) {
          this.$toast.error("Something went wrong");
        } else if (res.status == 201) {
          this.$toast.success("Package Saved Successfully");
          this.clear();
          $("#modal-packages").modal("hide");
        }
      }
    },

    editPackage(packages) {
      $("#modal-update-packages").modal("show");
      this.packages.package_id = packages.package_id;
      this.packages.service_id = packages.service_id;
      this.packages.description = packages.description;
      this.packages.price = packages.price;
    },

    async updatePackages() {
      var data = {
        package_id: this.packages.package_id,
        service_id: this.packages.service_id,
        description: this.capitalize(this.packages.description),
        price: parseInt(this.packages.price),
      };

      if (
        this.packages.description == "" ||
        this.packages.price == "" ||
        this.packages.service_id == ""
      ) {
        this.$toast.error("Please fill in all fields");
      } else {
        const res = await this.$store.dispatch("updatePackage", data);
        if (res.status == 401) {
          this.$toast.error("Something went wrong");
        } else if (res.status == 200) {
          this.componentKey += 1;
          setTimeout(() => {
          this.$store.commit("setComponentKey", this.componentKey);
        }, 500);
          this.$toast.success("Package Update Successfully");
          this.clear();
          $("#modal-update-packages").modal("hide");
        }
      }
    },

    clear() {
      (this.packages.description = ""),
        (this.packages.price = ""),
        (this.packages.service_id = "");
    },
  },

  computed: {
    ...mapGetters({
      services: "getServices",
      packagess: "getPackages",
    }),
  },

  mounted() {
    document.title = "YSProduction | Packages"
    this.$store.dispatch("fetchServices");
    this.$store.dispatch("fetchPackages");
  },
};
</script>