<template>
  <div id="app">
    <sidenav />
    <topnav />
    <div class="main-content">
      <div class="container-fluid">
        <h2 class="pt-3 ml-2 font-weight-bold">Approved Requests</h2>
        <div class="row justify-content-end ml-2 mr-2 mb-3"></div>

        <div class="table-responsive pt-3">
          <div style="overflow-x: auto"></div>
          <div class="row justify-content-end"></div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Package</th>
                <th>Message</th>
                <th>Location</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="order in filteredOrders" :key="order.order_id">
                <td  style="text-transform: capitalize">{{ order.first_name + " " + order.last_name }}</td>
                <td>{{ order.description }}</td>
                <td>{{ order.message }}</td>
                <td>{{ order.barangay_description}}</td>
                <td>{{ order.date_sched }}</td>
              </tr>
            </tbody>
          </table>
          <!-- Modal -->
          <div
            class="modal fade"
            id="modal-update-status"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Approve Request
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form>
                  Do you want to approve this request?{{ order.status }}
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                  type="submit"
                  class="btn btn-primary"
                  @click="updateStatus()"
                >
                  Update
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      order: {
        order_id: "",
        client_id: "",
        package_id: "",
        message: "",
        date_sched: "",
        status: "",
      },
  pending:"Pending",
      status: "Approved",
    };
  },

  computed: {
    ...mapGetters({
      orders: "getOrders",
    }),

    filteredOrders() {
      return this.orders.filter((order) => {
        return order.status.match(this.status);
      });
    },
  },

  methods: {
    approvalStat(order) {
      this.order.order_id = order.order_id;
      this.order.client_id = order.client_id;
      this.order.package_id = order.package_id;
      this.order.message = order.message;
      this.order.date_sched = order.date_sched;
      this.order.status = order.status;
      $("#modal-update-status").modal("show");
    },

    async updateStatus() {
      var data = {
        order_id: this.order.order_id,
        client_id: this.order.client_id,
        package_id: this.order.package_id,
        message: this.order.message,
        date_sched: this.order.date_sched,
        status: this.status,
      };
      const res = await this.$store.dispatch("updateStatuss", data);
      if (res.status == 401) {
        this.$toast.error("Something went wrong");
      } else if (res.status == 422) {
        console.log(res);
      } else if (res.status == 200) {
        this.componentKey += 1;
        setTimeout(() => {
          this.$store.commit("setComponentKey", this.componentKey);
        }, 500);
        this.$toast.success("Request Approved Successfully");
        $("#modal-update-status").modal("hide");
      }
    },
  },

  mounted() {
    document.title = "YSProduction | Approved Requests"
    this.$store.dispatch("fetchOrders");
  },
};
</script>