<template>
  <div>
    <navbar />
    <div class="home" id="home">
      <p>
        You Don’t Take a Photograph, <br />You Make It.<br />
        <a href="#services"
          ><button type="button" class="btn btn-outline-light" href="#services">
            Learn more
          </button></a
        >
      </p>
    </div>

    <div class="services" id="services">
      <h1>SERVICES WE OFFER</h1>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-auto">
            <div class="card">
              <img src="/images/card1.png" class="rounded mx-auto d-block" />
              <div class="card-body">
                <h4>PHOTOGRAPHY</h4>
                <p>
                  Stating this fact is easy, persuading you to devote more
                  attention to photography might be even easier but can we
                  convince you that you can be doing more in terms of being
                  selective with your visuals.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="card">
              <img src="/images/card2.png" class="rounded mx-auto d-block" />
              <div class="card-body">
                <h4>VIDEOGRAPHY</h4>
                <p>
                  Videography is simply creating videos. Either you process them
                  or not, apply cinematography or not, direct the subjects or
                  not, as long as you create videos, it is videography.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="card">
              <img src="/images/card3.png" class="rounded mx-auto d-block" />
              <div class="card-body">
                <h4>CINEMATOGRAPHY</h4>
                <p class="p3">
                  Cinematography can mean a lot of things, but its ultimately
                  about capturing your desired images. Communicating the various
                  techniques used to capture these images is what separates a
                  working professional and a student.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team" id="team">
      <h1>Meet Our Team</h1>
      <p>
        Choose among our best teams from the fields of Photography, Videography
        and Cinematography
      </p>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto" style="margin-right: 5rem">
            <img src="/images/team1.png" />
            <h4 style="padding-top: 1rem">Mark</h4>
            <p>Photographer</p>
          </div>
          <div class="col-md-auto" style="margin-right: 5rem">
            <img src="/images/team2.png" />
            <h4 style="padding-top: 1rem">Elise</h4>
            <p>Videographer</p>
          </div>
          <div class="col-md-auto" style="margin-right: 5rem">
            <img src="/images/team3.png" />
            <h4 style="padding-top: 1rem">Jayson</h4>
            <p>Cinematographer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="last" id="last">
      <p>
        There are countless cameras, lenses, and other accessories on the market
        today. We spend a lot of time reviewing them at YourStudio, and it’s
        true that some are better than others (or better suited for a given
        job). But once you’ve tested enough of them, the real takeaway is that
        pretty much everything today is excellent. <br />
        <button
          type="button"
          class="btn btn-outline-light"
          href="#services"
          data-bs-toggle="modal"
          data-bs-target="#modal-schedule"
        >
          SCHEDULE NOW
        </button>
      </p>

      <div
        class="modal fade"
        id="modal-schedule"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        style="color: #12232e"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Schedule Request
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                  <div class="col-lg">
                    <label class="form-label">Message:</label>
                    <textarea
                      style="height: 100px"
                      type="text"
                      class="form-control"
                      v-model="schedule.message"
                    />
                  </div>
                </div>

                <div class="row" style="margin-top: 10px">
                  <div class="col-lg-auto">
                    <label class="form-label" style="margin-top: 10px"
                      >Month:</label
                    >
                    <select class="c_month" v-model="c_month">
                      <option
                        v-for="months in month"
                        :key="months.name"
                        :value="months.name"
                      >
                        {{ months.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-auto">
                    <label class="form-label" style="margin-top: 10px"
                      >Day:</label
                    >
                    <input type="number" v-model="c_day" class="lbl-day" />
                  </div>
                  <div class="col-lg-auto">
                    <label class="form-label" style="margin-top: 10px"
                      >Year:</label
                    >
                    <input type="number" v-model="c_year" class="lbl-year" />
                  </div>
                </div>

                <div>
                  <div class="row">
                    <div class="col-lg">
                      <label class="form-label">Packages:</label>
                      <select class="form-select" v-model="schedule.package_id">
                        <option
                          v-for="packages in packagess"
                          :key="packages.package_id"
                          :value="[packages.package_id, packages.price]"
                        >
                          {{ packages.description }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10">
                    <label class="form-label" style="margin-top: 10px"
                      >Amount:</label
                    >
                    <input
                      style="margin-top: 8px"
                      type="text"
                      readonly
                      class="form-control-plaintext"
                      v-model="schedule.package_id[1]"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                @click="createSchedule()"
              >
                Set Schedule
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="about">
      <h1>YourStudio Production</h1>
      <div class="amazing-container">
        <div class="row">
          <div class="col">
            <p class="intro ml-auto">ABOUT US</p>
            <p class="title ml-auto">
              YourStudio has been one of best creators of technical aspects of
              imagery. With our help, we will make your ideas into reality.
            </p>
          </div>

          <div class="col">
            <p class="intro">FOLLOW US ON</p>
            <img src="/images/icon1.png" />
            <img src="/images/icon2.png" />
            <img src="/images/icon3.png" />
          </div>

          <div class="col">
            <p class="intro">CONTACT US {{ client_id }}</p>
            <p class="title ml-auto">ysphotography@gmail.com</p>
            <p class="title ml-auto">
              48 Melrose Street, Spokane Valley, Washington
            </p>
            <p class="title ml-auto">509-991-2089 / 360-747-2279</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      month: [
        { name: "January" },
        { name: "Febuary" },
        { name: "March" },
        { name: "April" },
        { name: "May" },
        { name: "June" },
        { name: "July" },
        { name: "August" },
        { name: "September" },
        { name: "October" },
        { name: "November" },
        { name: "December" },
      ],

      c_day: "",
      c_month: "",
      c_year: "",
      client_id: this.$store.state.users.id,
      status: "Pending",

      schedule: {
        package_id: "",
        message: "",
        date_sched: "",
      },
    };
  },

  methods: {
    capitalize(str) {
      const lower = str.toLowerCase();
      return str.charAt(0).toUpperCase() + lower.slice(1);
    },

    async createSchedule() {
      var date = this.c_month + " " + this.c_day + ", " + this.c_year;
      var data = {
        client_id: this.client_id,
        package_id: this.schedule.package_id[0],
        message: this.capitalize(this.schedule.message),
        date_sched: date,
        status: this.status,
      };
      if (
        this.schedule.package_id == "" ||
        this.schedule.message == "" ||
        this.c_year == "" ||
        this.c_day == "" ||
        this.c_month == ""
      ) {
        this.$toast.error("Please fill in all fields!");
      } else {
        const res = await this.$store.dispatch("createSchedules", data);
        if (res.status == 401) {
          this.$toast.error("Something went wrong.");
        } else if (res.status == 201) {
          this.$toast.success("Scheduled successfuly!");
          this.clear();
          $("#modal-schedule").modal("hide");
        }
      }
    },

    clear() {
      (this.schedule.message = ""),
        (this.schedule.package_id = ""),
        (this.c_year = ""),
        (this.c_month = ""),
        (this.c_day = "");
    },
  },

  computed: {
    ...mapGetters({
      packagess: "getPackages",
    }),
  },

  mounted() {
    document.title = "YSProduction | Home"
    this.$store.dispatch("fetchPackages");
  },
};
</script>
