<template>
  <div class="login">
    <div class="sign-in">
      <div class="container-fluid">
        <div class="row justify-content-md-end">
          <div class="col-sm-auto">
            <h1>
              Need an account?
              <button
                type="submit"
                class="btn btn-outline-light"
                data-bs-toggle="modal"
                data-bs-target="#registerHere"
              >
                Sign In
              </button>
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div
            class="modal fade"
            id="registerHere"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" style="max-width: 42%">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Register Here
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body" style="height: 550px; color: #12232e">
                  <form>
                    <div class="row">
                      <div class="col-lg-auto">
                        <label class="form-label">First Name:</label>
                        <input
                          style="text-transform: capitalize"
                          type="text"
                          class="form-control"
                          id="names"
                          v-model="client.first_name"
                        />
                      </div>
                      <div class="col-lg-auto">
                        <label class="form-label">Middle Name:</label>
                        <input
                          style="text-transform: capitalize"
                          type="text"
                          class="form-control"
                          id="names"
                          v-model="client.middle_name"
                        />
                      </div>
                      <div class="col-lg-auto">
                        <label class="form-label">Last Name:</label>
                        <input
                          style="text-transform: capitalize"
                          type="text"
                          class="form-control"
                          id="names"
                          v-model="client.last_name"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label">Barangays</label>
                          <select
                            class="form-select"
                            v-model="client.barangay_id"
                          >
                            <option
                              v-for="barangay in barangays"
                              :key="barangay.barangay_id"
                              :value="barangay.barangay_id"
                            >
                              {{ barangay.barangay_description }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label" style="margin-top: -30px"
                            >Contact Number:</label
                          >
                          <input
                            id="email"
                            type="number"
                            class="form-control"
                            style="width: 543px; margin-top: -7px"
                            v-model="client.contact_num"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label" style="margin-top: -30px"
                            >Email Address:</label
                          >
                          <input
                            id="email"
                            type="email"
                            class="form-control"
                            style="width: 543px; margin-top: -7px"
                            v-model="client.email"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label" style="margin-top: -30px"
                            >Password:</label
                          >
                          <input
                            type="password"
                            id="password"
                            class="form-control"
                            style="width: 543px; margin-top: -7px"
                            v-model="client.password"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg">
                          <label class="form-label" style="margin-top: -30px"
                            >Confirm Password:</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            style="width: 543px; margin-top: -7px"
                            v-model="client.c_password"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    @click="createClients()"
                  >
                    Register
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <img src="/images/loginimg.png" class="mx-auto d-block" />
      <form class="mx-auto">
        <div class="form-group" id="user">
          <label>Email</label><br />
          <input type="email" v-model="user.email" />
        </div>
        <div class="form-group" id="pass">
          <label>Password</label><br />
          <input type="password" v-model="user.password" />
        </div>
        <button type="submit" class="btn btn-outline-light" @click="login()">
          LOG IN
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      log_email: "",
      log_password: "",
      search: "",
      access_level1: "Client",
      access_level2: "Admin",

      client: {
        barangay_id: "",
        first_name: "",
        middle_name: "",
        last_name: "",
        contact_num: "",
        email: "",
        password: "",
        c_password: "",
      },

      user: {
        email: "",
        password: "",
      },
    };
  },

  methods: {
    capitalize(str) {
      const lower = str.toLowerCase();
      return str.charAt(0).toUpperCase() + lower.slice(1);
    },

    async login() {
      var data1 = {
        email: this.user.email,
        password: this.user.password,
        access_level: this.access_level1,
      };

      var data2 = {
        email: this.user.email,
        password: this.user.password,
        access_level: this.access_level2,
      };
      if (this.user.email == "" || this.user.password == "") {
        this.$toast.error("Please fill in all fields");
      } else {
        const res1 = await this.$store.dispatch("loginUser", data1);
        const res2 = await this.$store.dispatch("loginAdmin", data2);
        const check = await this.$store.dispatch("check_clientUser");
        if (res1.status == 200 || check.status == 200) {
          this.$router.push("/H");
        } else if (res2.status == 200) {
          this.$router.push("/PG");
        } else if (res1.status == 401 && res2.status == 401) {
          this.$toast.error("Login Credentials are incorrect.");
        }
      }
    },

    async createClients() {
      var data = {
        barangay_id: this.client.barangay_id,
        access_level: this.access_level1,
        first_name: this.capitalize(this.client.first_name),
        middle_name: this.capitalize(this.client.middle_name),
        last_name: this.capitalize(this.client.last_name),
        contact_num: this.client.contact_num,
        email: this.client.email,
        password: this.client.password,
        c_password: this.client.c_password,
      };
      if (
        this.client.barangay_id == "" ||
        this.client.first_name == "" ||
        this.client.middle_name == "" ||
        this.client.last_name == "" ||
        this.client.contact_num == "" ||
        this.client.email == "" ||
        this.client.password == "" ||
        this.client.c_password == ""
      ) {
        this.$toast.error("Please fill in all fields!");
      }
      if (this.client.password.length < 6) {
        this.$toast.error("Password must be at least 6 characters");
      }
      if (this.client.password != this.client.c_password) {
        this.$toast.error("Password does not match");
      }
      if (
        this.client.password == this.client.c_password &&
        this.client.password.length >= 6
      ) {
        const res = await this.$store.dispatch("createClient", data);
        if (res.status == 401) {
          this.$toast.error("Something went wrong.");
        } else if (res.status == 201) {
          $("#registerHere").modal("hide");
          this.clear();
          this.$toast.success("Client saved successfuly!");
        } else if (res.status == 400) {
          this.$toast.error("Email has been used.");
        }
      }
    },

    clear() {
      (this.client.first_name = ""),
        (this.client.middle_name = ""),
        (this.client.last_name = ""),
        (this.client.email = ""),
        (this.client.password = ""),
        (this.client.c_password = ""),
        (this.client.barangay_id = "");
      this.client.contact_num = "";
    },
  },

  computed: {
    ...mapGetters({
      barangays: "getBarangay",
    }),
  },

  mounted() {
    this.$store.dispatch("fetchBarangay");
  },
};
</script>
