<template>
  <div id="app">
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: transparent; position: absolute; width: 100%"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/images/logo.png"
            width="80"
            height="60"
            class="d-inline-block align-text-top"
          />
        </a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <router-link to="/H" style="text-decoration: none">
            <li>
              <a class="nav-link" href="#home">Home</a>
            </li>
          </router-link>
          <li>
            <a class="nav-link" @click="logout()" style="cursor: pointer">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Topnav",
  methods: {
    async logout() {
      const res = await this.$store.dispatch("logoutUser");
      console.log(res);
      if (res.status == 200) {
        this.$router.push("/");
      }
    },
  },
};
</script>