<template>
  <div id="app">
    <div class="side-nav">
      <div class="logo">
        <div class="row mt-3 ml-4 pl-3">
          <div class="col-3 col-sm-3 col-lg-3 pb-3">
            <img
              src="/images/logo.png"
              height="80"
              alt=""
              class="JRI"
              style="margin-top: 15px"
            />
          </div>
          <div class="col-6 col-sm-6 col-lg-6 pt-3 ml-3">
            <p class="logo-name">YS Production</p>
          </div>
        </div>
      </div>

      <hr class="divider" />

      <router-link to="/PG">
        <div class="element-container">
          <div class="element">
            <p class="ml-5 pl-4 pt-3 option" href="">Packages</p>
          </div>
        </div>
      </router-link>

      <hr class="divider" />
      
      <router-link to="/DB">
        <div class="element-container">
          <div class="element">
            <p class="ml-5 pl-4 pt-3 option" href="">Scheduled Events</p>
          </div>
        </div>
      </router-link>

      <hr class="divider" />

      <router-link to="request">
        <div class="element-container">
          <div class="element">
            <p class="ml-5 pl-4 pt-3 option" href="">Pending Request</p>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>


