<template>
  <div id="app">
    <div class="top-nav">
      <div class="nav-container">
        <div class="d-flex align-items-center">
          <hr class="vertical-divider" />
          <button
            type="button"
            class="btn btn-outline-primary btn-lg"
            @click="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Topnav",
  methods: {
    async logout() {
      const res = await this.$store.dispatch("logoutAdmin");
      console.log(res);
      if (res.status == 200) {
        this.$router.push("/");
      }
    },
  },
};
</script>